{
  "presets" : [
    ["env", {
      "modules": false,
      "browsers": "last 2 versions"
    }],
    "react"],
  "plugins": ["react-hot-loader/babel", "transform-object-rest-spread"],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
