/* Font */
$font: 'Open Sans';

/* Colors */
$light-gray: #f2f2f2;
$font-color: #333333;
$gray: #636363;
$blue: #0060a3;

/* Input colors */
$input-focus: #55a8e2;
$input-border: #e1e1e1;
$input-placeholder: #a5a5a5;
