.main {
  margin-top: 1rem;
}

.alternative {
  margin-top: 1rem;
  background: #ffffff;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 64rem;
  margin: 0 auto;
}

.nav {
  padding-top: 1rem;
}


.header {
  font-weight: normal;
  font-size: 1.5rem;
  color: #636363;
  flex-basis: 100%;
}
