.component > * + * {
  margin-top: 1rem;
}

.content, .alternative {
  padding: 0.5rem 1.5rem 1.5rem;
}

.content > *, .alternative > * {
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
}

.alternative {
  background: #ffffff;
}

.selectWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 64rem;
  margin: 0 auto;
}

.header {
  font-size: 1.4rem;
  color: #636363;
  flex-basis: 100%;
  text-transform: uppercase;
  font-weight: 300;
}

.application > * + * {
  margin-top: 1.5rem;
}
