.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > * + * {
  margin-top: 2rem;
}

.text {
  max-width: 64rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0;
}
