.button {
  background: #0060a3;
  border: 3px solid #0060a3;
  box-sizing: border-box;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  width: 100%;
  max-width: 24rem;
  padding: 0.5rem 1.5rem;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3rem;
  transition: 0.2s;
  display: block;
  user-select: none;
  cursor: default;
}

.buttonContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background: #f2f2f2;
  color: #0060a3;
}

.button:active, button.active {
  background: #ffffff;
  color: #0060a3;
}

.button:disabled {
  background: #f2f2f2;
  border: 3px solid transparent;
  color: #c0c0c0;
}

.iconLeft {
  width: 2rem;
  margin-right: 0.5rem;
}

.iconRight {
  width: 2rem;
  margin-left: 0.5rem;
}

a .button:hover {
   
}