@import 'variables';


@mixin dark-overlay{
  &:after{
    content: "";
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 0;  // Take note of this negative z-index and compare to each article's positive z-index. This helps your content to show up over the overlay.
    top: 0;
	  right: 0;
	  left: 0;
	  bottom: 0;
    background-color: black;
    opacity: 0.5;
  }
}

$cardWidth: 13rem;
$cardHeight: 11rem;

.card{
  position: relative;
  z-index: 0;
  width: $cardWidth;
  height: $cardHeight;
  border: 1px solid $gray;
  background-color: white;
  text-align: center;
  transition: box-shadow 0.5s;
  margin-bottom: 1rem;
  overflow: hidden;
}

.card:hover{
  box-shadow: 0px 0px 10px -2px $font-color;
}

.link{
  text-decoration: none;
  color: inherit;
}

.top{
  background-color: $blue;
  padding: 0.5rem 0rem;
}

.top > img {
  display: inline-block;
  vertical-align: sub;
  width: 1.7rem;
  margin-right: 0.3rem;
  margin-left: -0.3rem;
}

.top > span {
  color: white;
  font-weight: 200;
  font-size: 1rem;
}

.card > p {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}


.cardButton {
  font-size: 0.9rem;
  font-weight: 200;
  border-radius: 0;
  text-transform: none;
  position: absolute;
  bottom: 0;
  background-color: $blue;
}

.card.disabled {
  @include dark-overlay;
}



.short{
  //font-size: calc(#{$cardHeight} / 15);
  line-height: 14px;
  height: $cardHeight - 5rem;
  width: $cardWidth;
  margin: 0px;
  display: table-cell;
  vertical-align: middle;
  padding: 0 1rem;
}
