@import 'variables';

.card{
  width: 12rem;
  border: 1px solid $gray;
  background-color: white;
  text-align: center;
  transition: box-shadow 0.5s;
  margin-bottom: 1rem;
}

.card:hover{
  box-shadow: 0px 0px 20px -2px $font-color;
}

.top{
  background-color: $blue;
  padding: 0.5rem 0rem;
}

.top > img {
  display: inline-block;
  vertical-align: sub;
  width: 1.7rem;
  margin-right: 0.3rem;
  margin-left: -0.3rem;
}

.top > span {
  color: white;
  font-weight: 200;
  font-size: 1rem;
}

.card > p {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}


.cardButton {
  font-size: 0.9rem;
  font-weight: 200;
  border-radius: 0;
  text-transform: none;
}

.card.disabled {
  background-color: darken( white, 20% );
}

.card.disabled:hover{
  box-shadow: none;
}

.card.disabled > .top {
  background-color: darken( $blue, 20% );
}

.card.disabled > .top > span {
  color: darken( white, 20% );
}

.card.disabled > .top > img {
  filter: brightness(80%);
}

.cardButton:disabled {
  background: darken( $blue, 20% );
  border-radius: 0;
}
