.component {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 32rem;
  border-style: solid;
  border: 2px;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.header {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  flex: 1 0 auto;
  background: #ffffff;
  border: 2px solid #ffffff;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  transition: 0.25s border;
  border-radius: 2px;
  user-select: none;
  cursor: default;
}

.header:hover {
  border-color: #0060a3;
}

.open .header {
  box-shadow: none;
}

.info {
  display: none;
  background: #ffffff;
  border-top: 1px solid #e0e0e0;
  padding: 1rem 2rem;
  line-height: 1.5rem;
}

.open .info {
  display: block;
}

.name {
  display: inline-block;
  font-size: 1.5rem;
  margin: 0 0 0 1rem;
  font-weight: normal;
}

.img {
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
}


@media (max-width: 600px) {
  .component {
    width: 100%;
  }
}
