
:local .heading {
  box-shadow: 0 0 0 0 rgba(0, 0, 0,0.1);
  background: #0060A3;
}

:local .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 64rem;
  margin: 0 auto;
  padding: 1rem;
}

:local .header {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 64rem;
  margin: 0 auto;
  padding-bottom: 1rem;
}

:local .text {
  color: white;
  margin: 0 auto;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}
