:local .input {
  background: #F4F4F4;
  border: 1px solid #E0E0E0;
  width: 24em;
  height: 3.5em;
}

:local .label {
  font-size: 20px;
  text-transform: uppercase;
  color: #909090;
}

:local container {
  margin-bottom: 0.5em;
}
