@value $input-focus, $input-border, $input-placeholder, $font-color from './_variables.css';

.container {
  margin-bottom: 1rem;
}

.input {
  background: white;
  border: 2px solid $input-border;
  border-radius: 2px;
  width: 100%;
  font-size: 1.1rem;
  padding: 0.7rem 0.4rem;
  color: $font-color;
}

.input:focus {
  border-color: $focus;
  outline: none;
}

.input::placeholder {
  color: $input-placeholder;
}

.input:disabled, .input:disabled::placeholder {
  background: #f0f0f0;
  color: #b8b8b8;
}

.label {
  display: block;
  margin: 0.5rem 0;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #767676;
}
