.container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.box {
  flex-grow: 1;
  flex-basis: 20rem;
}

.helptext {
  color: #909090;
  font-style: italic;
}

.label {
  display: block;
  margin: 0.5rem 0;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #767676;
}

.userinfoSwitch {
  display: flex;
  align-items: center;
}

.userinfoSwitch > * + * {
  margin-left: 0.5rem;
}
