.container {
  background-color: white;
  width: 100%;
  max-width: 50rem;
  text-align: center;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  user-select: none;
  cursor: default;
}

.container a {
  flex: 1;
  padding: 1rem;
  text-transform: uppercase; 
  font-weight: bold;
  font-size: 1.3rem;
  color: #0060A3;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
}

.container img {
  align-self: center;
  margin: 0 1rem;
}
