
.container {
  background: #ffffff;
  border: .1rem solid #fff;
  padding: 0.6em 0.8em;
  margin: 0.8em;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container:hover {
  animation: border-animation 0.75s;
  border: 0.1rem solid #0060a3;
}

.container.small {
  font-size: 0.9rem;
}

.img {
  height: 4em;
  width: 4em;
}

.name {
  margin: 0;
  font-size: 0.9em;
  color: #333333;
  font-weight: 600;
}

@keyframes border-animation {
  0% { border: 0.10rem solid #ffffff; }
  100% { border: 0.10rem solid #0060a3; }
}