
.container {
  background: #ffffff;
  border: 2px solid #fff;
  padding: 0.6em 0.75em;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  display: inline-flex;
  max-height: 100%;
  width: 100%;
  max-width: 5.5rem;
  align-items: center;
  flex-direction: column;
  border-radius: 2px;
  transition: 0.25s border-color;
  user-select: none;
  cursor: default;
}

.container:hover, .container.container.selected:hover {
  border-color: #0060a3;
}

.container.small {
  font-size: 0.85rem;
}

.container.selected {
  background: #C4C4C4;
  border-color: #f2f2f2;
  box-shadow: inset 0px 3px 4px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.container svg {
  height: 100%;
  width: 100%;
}

.name {
  margin: 0;
  font-size: 0.9em;
  font-weight: 600;
}


@media (min-width: 600px) {
  .container svg {
    height: 4rem;
    width: 4rem;
  }
}
