
.container {
  background: #ffffff;
  padding: 0.6rem 0.8rem;
  margin: 0.8rem;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.img {
  height: 63px;
  width: 63px;
}

.name {
  margin: 0;
  font-size: 0.9rem;
  color: #333333;
  font-weight: 600;
}
