.component {
  background: #ffffff;
  border: 2px solid #e1e1e1;
  display: block;
  width: 100%;
  min-height: 10rem;
  font-size: 1rem;
  font-family: inherit;
  padding: 0.5rem;
}

.component:focus {
  border-color: #55a8e2;
  outline: none;
}

.component::placeholder {
  color: #a5a5a5;
}
