.component {
  background: #F4F4F4;
  border: 1px solid #E0E0E0;
  color: #333333;
  display: block;
  width: 100%;
  min-height: 10rem;
  font-size: 1rem;
  font-family: inherit;
  padding: 0.5rem;
}

.component::placeholder {
  color: #B8B8B8
}
