.container {
  display: inline-flex;
  cursor: pointer;
  background-color: #ffffff;
  border: 2px solid #636363;
  border-radius: 2rem;
  justify-content: center;
}

.container:focus {
  outline: none;
}

.slider {
  margin: 0.07rem -0.17rem;
  margin-right: 1.5rem;
  align-self: left;
  width: 1.5rem;
  height: 1.5rem;
  transition: .4s;
  border-radius: 100%;
  background: #D06969;
}

.checked {
  margin-left: 1.5rem;
  margin-right: -0.17rem;
  background: #0060A3;
}

.icon {
  stroke: white;
  stroke-width: 3;
}
