.component > * + * {
  margin-top: 1rem;
}

.content,
.alternative {
  padding: 0.5rem 1.5rem 1.5rem;
}

.content > *,
.alternative > * {
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
}

.alternative {
  background: var(--background);
}

.selectWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 64rem;
  margin: 0 auto;
}

.header {
  font-size: 1.4rem;
  color: var(--text);
  flex-basis: 100%;
  text-transform: uppercase;
  font-weight: 300;
}

.application > * + * {
  margin-top: 1.5rem;
}

.arrow {
  fill: var(--blue);
  margin: 2px;
}
