.button {
  background: var(--blue);
  border: 3px solid var(--blue);
  box-sizing: border-box;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  width: 100%;
  max-width: 24rem;
  padding: 0.5rem 1.5rem;
  color: var(--background);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3rem;
  transition: 0.2s;
  display: block;
  user-select: none;
  cursor: default;
}

.buttonContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background: var(--backgroundAlt);
  color: var(--blue);
}

.button:active,
button.active {
  background: var(--background);
  color: var(--blue);
}

.button:disabled {
  background: var(--backgroundAlt);
  border: 3px solid transparent;
  color: var(--grayLighten60);
}

.iconLeft {
  width: 1.5rem;
  margin-right: 0.5rem;
}

.iconRight {
  width: 1.5rem;
  margin-left: 0.5rem;
}

a .button:hover {
}
