@import 'variables';

.container {
  margin-bottom: 1rem;
}

.input {
  background: white;
  border: 2px solid $input-border;
  border-radius: 2px;
  width: 100%;
  font-size: 1.1rem;
  padding: 0.7rem 0.4rem;
  color: $gray-darken-60;
}

.input:focus {
  border-color: $input-focus;
  outline: none;
}

.input::placeholder {
  color: $input-placeholder;
}

.input:disabled,
.input:disabled::placeholder {
  background: #f0f0f0;
  color: #b8b8b8;
}

.label {
  display: block;
  margin: 0.5rem 0;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #767676;
}
