.container {
  margin-bottom: 1rem;
}

.input {
  background: var(--background);
  border: 2px solid var(--inputBorder);
  border-radius: 2px;
  width: 100%;
  font-size: 1.1rem;
  padding: 0.7rem 0.4rem;
  color: var(--grayDarken60);
}

.input:focus {
  border-color: var(--inputFocus);
  outline: none;
}

.input::placeholder {
  color: var(--inputPlaceholder);
}

.input:disabled,
.input:disabled::placeholder {
  background: var(--backgroundAlt);
  color: #b8b8b8;
}

.label {
  display: block;
  margin: 0.5rem 0;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: var(--gray);
}
