@import 'variables';

.container {
  display: inline-flex;

  background-color: var(--background);
  border: 2px solid var(--inputBorder);
  border-radius: 16px;
  justify-content: center;
  user-select: none;
  cursor: default;
}

.container::-moz-focus-inner {
  border: 0;
}

.container:focus {
  outline: none;
}

.container:disabled {
  background: var(--backgroundAlt);
  border-color: #b8b8b8;
}

.slider {
  margin: 0.07rem -0.17rem;
  margin-right: 1.5rem;
  align-self: left;
  width: 1.5rem;
  height: 1.5rem;
  transition: 0.4s;
  border-radius: 100%;
  background: #d06969;
}

.container:hover .slider {
  background: #a55555;
}

.checked {
  margin-left: 1.5rem;
  margin-right: -0.17rem;
  background: var(--blue);
}

.container:hover .checked {
  background: #004b80;
}

.container:disabled .slider {
  background: #ababab;
}

.icon {
  stroke: var(--background);
  stroke-width: 3;
}
